<div class="my-5">
    <footer class="text-center text-white" style="background-color:#3e4551">
        <!--Contenerdor del Footer-->
      <div class="container p-4 pb-0" >
        <section class="">
          <div class="row">
            <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Tarea Con Angular Semana 6</h5>
              <p>
                Esta tarea esta realizada con angular donce hay 3 componentes los cuales son: <br>
                El app.component principal el cual contiene el Navbar y las direcciones que estan dentro como enlaces <br>
                El cards.component el cual contiene las cards que nos dicen que hace y sobre que nos da las estadisticas <br>
                El footer.component el cual contiene este pie de pagina para asi completar cada uno de los componentes solicitadoss
              </p>
            </div>     
            <!--Lista de Links-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="http://localhost:4200/?" class="text-white">My Time On it</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <hr class="mb-4" />
  
        <!-- Redes sociales con fines de prueba-->
        <section class="mb-4 text-center">
          <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
                target="_blank"
                href="https://www.facebook.com/daniel.duarte.5473894"
                role="button">
                Facebook
            </a>
          <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
                target="_blank"
                href="https://www.instagram.com/duarzel07/"
                role="button">
                Instagram
            </a>  
          <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1"
                target="_blank"
                href="https://github.com/DuarZel07/TareasPW2.git"
                role="button">
                Github
            </a>
        </section>
      </div> 
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright: Daniel Duarte T32211252
      </div>
    </footer>
  </div>
